{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        Notif : {{notification}}
        <h1>Modifier mon mot de passe</h1>

        {{form(form)}}
    </div>
{% endblock %}
