{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Inscription</h1>

        {{form(form)}}
    </div>
{% endblock %}
